SUPABASE_URL=https://twxhcmvzbpnrneywdece.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_IHIMbYQacziyL1GcU6Mdtw_7AQdaCWg
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_HOST=aws-1-eu-west-1.pooler.supabase.com
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.twxhcmvzbpnrneywdece
DATABASE_URL=
OPENAI_API_KEY=
